  
  /* Base font for desktop and tablets */
html, body, ion-app, ion-content, .about-info, .about-info p {
  font-family: 'Proxima Nova Condensed', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  margin-left: auto;
  
}

/* Adjust for smaller mobile devices */
@media (max-width: 480px) {
  html, body, ion-app, ion-content, .about-info, .about-info p {
    line-height: 1.5;
    font-size: 1rem;
  }
}
/*Change dark mode color to black*/
.ion-palette-dark {
  --ion-menu-background-color: #202123 !important; /* Sidebar/Menu: #202123 */
  --ion-background-color: #2a2b2f !important; /* Main Content Area *: 2a2b2f  /
  --ion-text-color: #ececf1 !important; /* Soft white text */
}

ion-menu {
  background-color: var(--ion-menu-background-color) !important;
  color: var(--ion-text-color) !important;
}

ion-content,
.about-info {
  background-color: var(--ion-background-color) !important;
  color: var(--ion-text-color) !important;
}

.about-info h1,
.about-info p {
  color: var(--ion-text-color) !important;
}




/*Resizes logo*/
.menu-logo-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  padding: 24px 0; /* Space above and below */
}

.menu-logo-wrapper img {
  width: 120px;         /* Adjust width for mobile */
  height: auto;         /* Keep aspect ratio */
  max-width: 80%;       /* Prevent overflow */
  object-fit: contain;
}
@media (max-width: 480px) {
  .menu-logo-wrapper img {
    width: 100px;
  }
}

